@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fondo: hsl(212, 45%, 89%);
  --parrafo: hsl(220, 15%, 55%);
  --titulo: hsl(218, 44%, 22%);
}

body {
  background-color: var(--fondo);
  padding-inline: 2rem;
}

.attribution {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 5px 30px #80808057;
}

.img_card {
  width: 100%;
  overflow: hidden;
}

.img_card img {
  border-radius: 20px;
  width: 100%;
}

.text_card {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title_card {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: var(--titulo);
}

.paragraph_card {
  color: var(--parrafo);
  font-family: "poppins", sans-serif;
  font-size: 1rem;
}

footer {
  text-align: center;
  font-family: "poppins", sans-serif;
  padding-block: 1rem;
}

footer p {
  color: var(--titulo);
}

footer a {
  text-decoration: none;
}

@media (max-width: 385px) {
  .card {
    width: 18rem;
  }
  .title_card {
    font-size: 1rem;
  }
  .paragraph_card {
    font-size: 0.7rem;
  }
}
